<div [formGroup]="formGroup">
  <mat-form-field class="full-width">
    <input
      matInput
      [placeholder]="titulo"
      [name]="controlName"
      [formControlName]="controlName"
    />
    <mat-error *ngIf="validation.hasErrorValidate(formControl, 'required')"
      >Campo é obrigatório</mat-error
    >
    <mat-error *ngIf="validation.hasErrorValidate(formControl, 'minlength')"
      >Minímo {{validation.lengthValidate(formControl, 'minlength')}} caracteres</mat-error
    >
    <mat-error *ngIf="validation.hasErrorValidate(formControl, 'maxlength')"
      >Máximo {{validation.lengthValidate(formControl, 'maxlength')}} caracteres</mat-error
    >
  </mat-form-field>
</div>
